---
layout: ""
page_title: "Provider: AppID"
description: |-
  The AppID provider provides resources to interact with a IBM AppID API.
---

# AppID Provider

The AppID provider provides resources to interact with a IBM AppID API.

## Example Usage

{{tffile "examples/provider/main.tf"}}

{{ .SchemaMarkdown | trimspace }}